@import '../../App.css';

.main-container {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.main-inner {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 1.5rem;
    width: 100%;
}

.top-info {
    display: flex;
    align-items: space-between;
    justify-content: flex-start;
    width: 100%;
    gap: .5rem;
}

.top-inner {
    width: 100%;
}

.bottom-info {
    width: 60%;
    display: flex;
}

.bottom-info h3, .top-inner h3 {
    font-size: 12px;
    font-weight: 700;
    color: var(--gray-dark);
}

.bottom-info p, h4 {
    font-size: 10px;
    font-weight: normal;
    color: var(--gray-dark);
}

.bottom-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .75rem;
}

.email {
    font-size: 10px;
    font-weight: normal;
    color: var(--gray-light);
}

.btn {
    background-color: transparent;
    border: none;
}

.btn:hover {
    cursor: pointer;
}
