@import '../../App.css';

.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.role-icon {
    width: 50px;
}

.admin {
    filter: var(--blue-filter);
}

.user {
    filter: var(--teal-filter);
}

.viewer {
    filter: var(--gray-filter);
}