@import '../../App.css';

.container {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.inner-container {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 1.5rem;
    width: 100%;
}

.top-container {
    display: flex;
    align-items: space-between;
    justify-content: flex-start;
    width: 100%;
    gap: .5rem;
}

.info-container {
    width: 100%;
}

.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.role-icon {
    width: 50px;
}

.bottom-container {
    width: 60%;
    display: flex;
}

.bottom-container h3, .info-container h3 {
    font-size: 12px;
    font-weight: 700;
    color: var(--gray-dark);
}

.bottom-container p, h4 {
    font-size: 10px;
    font-weight: normal;
    color: var(--gray-dark);
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .75rem;
}

.email {
    font-size: 10px;
    font-weight: normal;
    color: var(--gray-light);
}

.btn {
    background-color: transparent;
    border: none;
}

.btn:hover {
    cursor: pointer;
}
