@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

h3, h4, h5, p {
  margin: 0;
}

:root {
  --gray-dark: #4A4A4A;
  --gray-light: #7E7E7E; 
  --blue-filter: invert(47%) sepia(16%) saturate(2301%) hue-rotate(162deg) brightness(91%) contrast(93%);
  --teal-filter: invert(66%) sepia(10%) saturate(1236%) hue-rotate(132deg) brightness(92%) contrast(89%);
  --gray-filter: invert(57%) sepia(15%) saturate(0%) hue-rotate(283deg) brightness(83%) contrast(84%);
  --background-gray: #f1f5f6;
}

body {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 100vh;
  min-width: 100vw;
}

.user-view-container {
  min-width: 30vw;
  min-height: 500px;
  border-radius: .1rem;
  background-color: var(--background-gray);
  box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.4);
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  min-height: 600px;
  padding: 1rem .75rem;
  ;
}
