@import '../../App.css';

.header {
    width: 100%;
    background-color: white;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
    height: 64px;
}

.img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 100%;
}

.header-text {
    margin: 0;
    color: var(--gray-dark);
    font-weight: 400;
    font-size: 1.2rem;
}